<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Aca se apuesta caramba</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
        {% if request.user.is.autenticated %}
        <a class="nav-item nav-link fload-rigth" href="#">{{request.user.username}}</a>

          <a class="nav-item nav-link fload-rigth" href="/accounts/logout/">Logout!</a>
        {% else %}
        <a class="nav-item nav-link fload-rigth" href="/accounts/login/">Logueate aca!</a>
          {% endif %}
      {% comment %}
      <a class="nav-item nav-link active" href="#">Home <span class="sr-only">(current)</span></a>

      <a class="nav-item nav-link" href="#">Pricing</a>
      <a class="nav-item nav-link disabled" href="#">Disabled</a>

      {% endcomment %}
      </div>
  </div>
</nav>
